<%- include('../partials/header.ejs') %>

<div class="card mb-4">
  <div class="card-body">
    <h5><%- data.username %></h5>
    <p><%- data.content %></p>
    <hr />
  </div>
</div>

<%- include('../partials/footer.ejs') %>
